@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.tog{
    color: #3BCBF9 !important;
}
.togg{
    border: 2px solid #3BCBF9 !important;
}
.togg:active,.togg:visited{
    border: 2px solid #3BCBF9 !important;
}
.heads a{
    color: #000000;
    font-size: large;
    font-weight: 500;
}
.homeg a{
    color: #3BCBF9;
    font-size: large;
    font-weight: 600;
}
.homeg a:hover{
    color: #3BCBF9;
}
.gsent{
    background-color: white;
    color: #000000;
    border: 4px solid #3BCBF9;
    border-radius: 37px;
    padding: 7px;
}
.gsent:hover{
    color: #000000;
    text-decoration: none;
}
.head{
    margin-top: 4px;
}
.head:active{
    border-bottom: 2px solid #3BCBF9;
}
.heads a:hover{
    color: #000000;
}
.gstart{
    border: 4px solid #3BCBF9;
    border-radius: 37px;
}
.txt{
    color: white;
    padding: 5rem 5rem 5rem 15rem;
}
.bgnd{
    background: transparent linear-gradient(232deg, #3BCBF9 0%, #1E667D 100%) 0% 0% no-repeat padding-box;
}
.firstcont{
    padding-left: 5rem;
}
.links,.mylink{
    font-size: x-large !important;
}
.links,.links:hover{
    text-decoration: none;
    color: #000000;
}
.little{
    font-size: small;
}
.buton, .buton:visited{
    background-color: #000000;
    color: white;
    padding: 1rem;
    border-radius: 2rem !important;
}
.buton:active, .buton:focus{
    background-color: #000000;
    color: white;
    padding: 1rem;
    border-radius: 2rem !important;
}
.ending{
    background: transparent linear-gradient(251deg, #3BCBF9 0%, #1E667D 100%) 0% 0% no-repeat padding-box;
}
.footer{
    background: #F8F8F8 0% 0% no-repeat padding-box;
}
.footer{
    color: #707070;;
}
.ending{
    color: white;
}
@media only screen and (max-width: 768px){
    .gstart{
        border: none;
    }
    .txt{
        color: white;
        padding: 50px 20px;
    }
    .txt{
        color: white;
        padding: 2rem;
    }
    .firstcont{
        padding-left: 0;
    }
}