@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.tog{
    color: #3BCBF9 !important;
}
.togg{
    border: 2px solid #3BCBF9 !important;
}
.togg:active,.togg:visited{
    border: 2px solid #3BCBF9 !important;
}
.heads a{
    color: #000000;
    font-size: large;
    font-weight: 600;
}
.homeg a{
    color: #3BCBF9;
    font-size: large;
    font-weight: 600;
}
.homeg a:hover{
    color: #3BCBF9;
}
.gsent{
    background-color: white;
    color: #000000;
    border: 4px solid #3BCBF9;
    border-radius: 37px;
    padding: 7px;
}
.gsent:hover{
    color: #000000;
    text-decoration: none;
}
.head{
    margin-top: 4px;
}
.head:active{
    border-bottom: 2px solid #3BCBF9;
}
.heads a:hover{
    color: #000000;
}
.gstart{
    border: 4px solid #3BCBF9;
    border-radius: 37px;
}
.txt{
    color: white;
    padding: 80px 40px;
}
.bgnd{
    background: transparent linear-gradient(232deg, #3BCBF9 0%, #1E667D 100%) 0% 0% no-repeat padding-box;
}

@media only screen and (max-width: 768px){
    .gstart{
        border: none;
    }
    .txt{
        color: white;
        padding: 50px 20px;
    }
}