@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.tog{
    color: #3BCBF9 !important;
}
.togg{
    border: 2px solid #3BCBF9 !important;
}
.togg:active,.togg:visited{
    border: 2px solid #3BCBF9 !important;
}
.heads a{
    color: #000000;
    font-size: large;
    font-weight: 500;
}
.homeg a{
    color: #3BCBF9;
    font-size: large;
    font-weight: 600;
}
.homeg a:hover{
    color: #3BCBF9;
}
.gsent{
    background-color: white;
    color: #000000;
    border: 4px solid #3BCBF9;
    border-radius: 37px;
    padding: 7px;
}
.gsent:hover{
    color: #000000;
    text-decoration: none;
}
.head{
    margin-top: 4px;
}
.head:active{
    border-bottom: 2px solid #3BCBF9;
}
.heads a:hover{
    color: #000000;
}
.gstart{
    border: 4px solid #3BCBF9;
    border-radius: 37px;
}
.txt{
    color: white;
    padding: 5rem 5rem 5rem 15rem;
}
.bgnd{
    background: transparent linear-gradient(232deg, #3BCBF9 0%, #1E667D 100%) 0% 0% no-repeat padding-box;
}
.easy{
    display: flex;
    justify-content: center;
    padding: 15rem 0 15rem 0;
}
.tlk p{
    font-weight: 600;
}
.tlk{
    padding-top: 3rem;
}
#accu{
    padding-left: 5rem;
}
.firstcont{
    padding-left: 5rem;
}
.rd{
    padding-left: 5rem !important;
}
.cb{
    padding-right: 5rem !important;
}
.imag{
   padding: 1rem;
}
.industry{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 2px 2px whitesmoke;
}
.db{
    padding-bottom: 5rem;
    background-color: white !important;
}
.shadoe{
    box-shadow: 0 0 2px 2px whitesmoke;
}
.industry{
    padding-top: 5rem;
    border-radius: 10rem 10rem 0 0;
}
.tv{
    margin-top: -15rem;
}
.km{
    background-color: white !important;
}

.bluey{
    color: #3BCBF9;
}
.list{
    display: flex;
    justify-content: space-around;
}
.list li{
    font-size: large;
    font-weight: 600;
    padding: 1rem;
}
.fl ul{
    padding: 5rem 25rem 5rem 10rem;
}
.sl ul{
    padding: 5rem 25rem 5rem 10rem;
}
.fl, .sl{
    background-color: #3BCBF926;
}
.fl{
    border-radius: 0 20rem 20rem 0;
    margin-right: -5rem;
}
.sl{
    border-radius: 20rem 0 0 20rem;
    margin-left: -5rem;
}
.mic{
    width: 200px;
}
.first,.second,.third,.four{
    padding-bottom: 5rem !important;
}
.fsl{
    margin-right: -6px;
}
.pricing{
    display: flex;
    justify-content: space-around;
}
.purebusiness{
    display: flex;
    justify-content: space-around;
}
.enterprise{
    width: 250px;
}
.enterprise h4{
    color: #3BCBF9;
}
.greene{
    color: #2BDE00;
}
.ending{
    background: transparent linear-gradient(251deg, #3BCBF9 0%, #1E667D 100%) 0% 0% no-repeat padding-box;
}
.footer{
    background: #F8F8F8 0% 0% no-repeat padding-box;
}
.footer{
    color: #707070;;
}
.ending{
    color: white;
}

@media only screen and (max-width: 768px){
    .gstart{
        border: none;
    }
    .txt{
        color: white;
        padding: 50px 20px;
    }
    .txt{
        color: white;
        padding: 2rem;
    }
    .firstcont{
        padding-left: 0;
    }
    .cb, .rd{
        padding: 1rem !important;
    }
    .imag{
        padding: 1rem;
    }
    .gallery{
        width: 100%;
        height: auto;
    }
    .industry{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .db{
        padding: 0 !important;
    }
    .industry{
        padding: 0 !important;
        border-radius: 0;
        box-shadow: none;
    }
    .tv{
        margin: 0;
        text-align: center;
    }
    .gallery{
        padding: 1rem;
    }
    .list{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .fl ul{
        padding: 0;
    }
    .sl ul{
        padding: 0;
    }
    .fl, .sl{
        background-color: #3BCBF926;
    }
    .fl{
        border: none;
        border-radius: 0;
        margin: 0;
    }
    .sl{
        border: none;
        border-radius: 0;
        margin:0;
    }
    .first,.second,.third,.four{
        padding-bottom: 0 !important;
    }
    .pricing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bitcoin{
        width: 100%;
        height: auto;
        padding: 2rem;
    }
    .fsl{
        margin-right: 0 !important;
    }
}
@media only screen and (max-width: 1344px){
    .fl ul{
        padding: 5rem;
    }
    .sl ul{
        padding: 5rem;
    }
    .fl, .sl{
        background-color: #3BCBF926;
        width: 500px;
    }
    .fl{
        border-radius: 5rem !important;
    }
    .sl{
        border-radius: 5rem !important;
    }
    .first,.second,.third,.four{
        padding-bottom: 3rem !important;
    }
    .fsl{
        margin-right: 0 !important;
    }
}
 @media only screen and (max-width:1198px){
        .list{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .fl ul{
            padding: 0;
        }
        .sl ul{
            padding: 0;
        }
        .fl, .sl{
            background-color: #3BCBF926;
            width: 100%;
        }
        .fl{
            border: none;
            border-radius: 0 !important;
            margin: 0;
        }
        .sl{
            border: none;
            border-radius: 0 !important;
            margin:0;
        }
        .first,.second,.third,.four{
            padding-bottom: 0 !important;
        }
        .fsl{
            margin-right: 0 !important;
        }
        .gallery{
            width: 400px;
            height: 400px;
        }
}
@media only screen and (max-width:860px){
    .purebusiness{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .enterprise{
        margin: 3rem 0 3rem 0;
    }
}
@media only screen and (max-width:1024px){
    .easy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
    }
    #accu{
        height: auto;
        width: 100%;
        padding: 3rem 1rem 2rem 1rem;
        margin: 0;
    }
    .tlk{
        padding: 0 0.5rem 2rem 2rem;
    }
}
@media only screen and (max-width:864px){
    .gallery{
        width: 100%;
        height: auto;
    }
    .industry{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .db{
        padding: 0 !important;
    }
    .industry{
        padding: 0 !important;
        border-radius: 0;
        box-shadow: none;
    }
    .tv{
        margin: 0;
        text-align: center;
    }
    .gallery{
        padding: 1rem;
    }
    .shadoe{
        box-shadow: none;
    }
}